.boxUp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skillTitle {
  background-color: #fcbc34;
  width: 20vw;
  min-width: 200px;
  height: 5vh;
  min-width: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 2vw;
  margin-left: 2vw;
  flex-wrap: wrap;
}
.title {
  font-family: "Victor mono", monospace;
  font-size: 1.5vw;
  max-width: 100%;
}
.editButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcbc34;
  color: #243039;
}
.skillBox {
  overflow: scroll;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 80vh;
}

.skillCard {
  background-color: #fcbc34;
  margin: 5px;
  width: 20vw;
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  font-family: "Victor mono";
  text-align: center;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #fcbc34;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #0097b2;
}
