.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 400px;
  background-color: #fcbc34;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  flex-wrap: wrap;
}

.title {
  font-size: 28px;
  color: #243039;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-family: "Victor mono", monospace;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #0097b2;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: #0097b2;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}
.signin {
  text-align: center;
}

.signin a {
  color: #0097b2;
}

.signin a:hover {
  text-decoration: underline #0097b2;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 90%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #0097b2;
  border-radius: 5px;
  font-family: "Victor mono", monospace;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
  font-family: "Victor mono", monospace;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: #fcbc34;
}

  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
