.EyePassword{
    position: absolute;
    top: 30%;
    right: 10px;
    transform: translate(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inputPasswordBox{
    position: relative;
    display: inline-block;
    color: #243039;
}
.inputPassword{
    /* position: relative; */
    padding-right: 30px;
}